// Project forms

.project-form {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 0.4em;
  border-radius: 0.3em;
  margin-bottom: 0.4em;
  padding: 1em;
  &:hover {
    background-color: $gray3;
  }
  &__name,
  &__description {
    width: 275px;
    border: none;
    outline: none;
    border-radius: 0.3em;
    padding: 0.4em;
    font-size: 1em;
    color: $gray5;
    margin-bottom: 0.4em;
  }
}

.edit-project {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 0.4em;
  border-radius: 0.3em;
  margin-bottom: 0.4em;
  padding: 1em;
}
// To dos - Form

.form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid $gray5;
  border-radius: 0.3em;
  margin-bottom: 0.4em;
  &:hover {
    box-shadow: 0 0 20px $gray0;
  }
  &__task-name,
  &__calendar,
  &__task-description {
    height: 35px;
    border: none;
    outline: none;
    border-radius: 0.3em;
    padding: 0.5em;
    font-size: 1.1em;
    color: $gray5;
  }
  &__task-name,
  &__task-description {
    width: 100%;
  }
  &__calendar,
  &__priority {
    cursor: pointer;
  }
  &__radio {
    display: none;
    &:checked + label {
      border: 2px solid $font-color;
    }
  }
  &__priority {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.8em;
    border-radius: 1em;
    &--high {
      background-color: $priority1;
    }
    &--medium {
      background-color: $priority2;
    }
    &--low {
      background-color: $priority3;
    }
  }
}

.group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  &__todo-name,
  &__todo-description {
    width: 350px;
  }
  &__todo-priority {
    display: flex;
  }
}

.error-msg {
  margin-top: 1em;
  font-size: 0.8em;
  color: $red;
  // display: none;
}

.button {
  background: none;
  border: none;
  border-radius: 0.3em;
  color: $font-color;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
  &:hover {
    background-color: $gray3;
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.98);
  }
  &::before {
    color: $red;
    content: '\002B';
    font-weight: 900;
    margin-right: 0.5em;
  }
  &--edit {
    font-size: 0.9em;
    padding: 0.6em;
    padding-right: 1em;
    &::before {
      color: $green;
    }
  }
  &--list {
    position: absolute;
    right: 2em;
  }
  &--save,
  &--cancel {
    &::before {
      display: none;
    }
  }
  &--save {
    margin-right: 1em;
    background-color: $blue;
  }
  &--cancel {
    background-color: $red;
  }
  &__project-form {
    cursor: pointer;
    font-size: 0.9em;
    padding: 0.5em;
    &::before {
      display: none;
    }
    &:hover {
      background-color: $gray5;
    }
  }
}

.hidden {
  display: none;
}
