@import './base.scss';
@import './forms.scss';
@import './todos.scss';

.header {
  background-color: $gray2;
  width: 400px;
  padding: 2em;
}

.nav {
  &__title {
    font-size: 1.5em;
    font-weight: 900;
    line-height: 2.8em;
    border-bottom: 2px solid $gray8;
    margin: 1em 0 0;
  }
}

.menu {
  padding: 0;
  &__item {
    list-style: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding: 1em;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: $gray3;
    }
  }
}
.fas {
  cursor: pointer;
}
.fa-trash {
  color: $gray2;
  &:hover {
    color: $red;
  }
}

.button {
  background: none;
  border: none;
  border-radius: 0.3em;
  color: $font-color;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
  &:hover {
    background-color: $gray3;
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.98);
  }
  &::before {
    color: $red;
    content: '\002B';
    font-weight: 900;
    margin-right: 0.5em;
  }
  &--edit {
    font-size: 0.9em;
    padding: 0.6em;
    padding-right: 1em;
    &::before {
      color: $green;
    }
  }
  &--list {
    position: absolute;
    right: 2em;
  }
  &--save,
  &--cancel {
    &::before {
      display: none;
    }
  }
  &--save {
    margin-right: 1em;
    background-color: $blue;
  }
  &--cancel {
    background-color: $red;
  }
  &__project-form {
    cursor: pointer;
    font-size: 0.9em;
    padding: 0.5em;
    &::before {
      display: none;
    }
    &:hover {
      background-color: $gray5;
    }
  }
}

.main {
  position: relative;
  background-color: $gray1;
  padding: 2em;
  width: 1400px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 2.5em;
    line-height: 1.15em;
    font-weight: 900;
    margin: 0;
  }
  &__subtitle {
    font-size: 1em;
    font-weight: 700;
    padding-bottom: 0.9em;
    border-bottom: 2px solid $gray8;
  }
}

.projects-list {
  padding: 0;
  &__item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    list-style: none;
    border: 1px solid $gray5;
    border-radius: 0.3em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding: 1em;
    font-size: 1em;
    &:hover {
      box-shadow: 0 0 20px $gray0;
    }
  }
  &__priority {
    width: 1em;
    height: 100%;
    background-color: $red;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 3em;
    transform: skew(-5deg);
  }
  &__checkbox {
    z-index: 200;
    margin-right: 1em;
    display: inline-block;
    cursor: pointer;
    border: 1px solid $gray8;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    &:hover {
      background-color: $blue;
    }
  }
  &__name {
    z-index: 200;
    font-size: 1.2em;
    flex-grow: 2;
    margin-left: 1em;
  }
  &__time {
    margin-right: 2em;
  }
}

.hidden {
  display: none;
}

.priority1 {
  background-color: $priority1;
}

.priority2 {
  background-color: $priority2;
}

.priority3 {
  background-color: $priority3;
}
