// Variables
$gray0: rgb(30, 30, 30);
$gray1: rgb(40, 45, 50);
$gray2: rgb(55, 60, 65);
$gray3: rgb(70, 75, 80);
$gray4: rgb(85, 90, 95);
$gray5: rgb(100, 105, 110);
$gray6: rgb(115, 120, 125);
$gray7: rgb(130, 135, 140);
$gray8: rgb(145, 150, 155);
$font-color: rgb(255, 255, 255);
$red: rgb(255, 63, 63);
$blue: rgb(63, 63, 255);
$green: rgb(63, 255, 65);
$violet: rgb(126, 63, 255);
$priority1: rgb(255, 220, 50);
$priority2: rgb(255, 133, 63);
$priority3: rgb(255, 63, 63);
