<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <script src="https://kit.fontawesome.com/b906595944.js" crossorigin="anonymous"></script>
    title Document
  body
    header.header
      nav.nav
        h2.nav__title Projects
        ul.menu#menu
          form(action="#").project-form.hidden#project-form
            input(type='text' placeholder='Name your project...' required).project-form__name
            input(type='text' placeholder='Description...' required).project-form__name
            button.button.button__project-form.button--save Save
            button.button.button__project-form.button--cancel Cancel
        button.button#addproject-button Add Project
    main.main#main
      div.main__container
        div
          h1.main__title Project X
          h2.main__subtitle Here goes the project description
        button.button.button--edit Edit
      ul.projects-list#projects-list
      form(action='#').form#todos-form
        input(type='text' placeholder='Name your task...' required).form__task-name
        input(type='text' placeholder='Description...' required).form__task-name
        input(type='radio' name='priority' value='priority1' checked).form__radio#priority1
        label(for='priority1').form__priority.form__priority--high
        input(type='radio' name='priority' value='priority2').form__radio#priority2
        label(for='priority2').form__priority.form__priority--medium
        input(type='radio' name='priority' value='priority3').form__radio#priority3
        label(for='priority3').form__priority.form__priority--low
        input(type='date' required).form__calendar#form-date
        button.button.button--save Save 
        button.button.button--cancel Cancel
      button.button.button--list#addtask-button Add Task