<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <script src="https://kit.fontawesome.com/b906595944.js" crossorigin="anonymous"></script>
    title Document
  body
    header.header
      nav.nav
        h2.nav__title Projects
        ul.menu#menu
          form(action="").project-form.hidden#project-form
            div.group__project-name
              input(type='text' placeholder='Name your project...' name='name' required).project-form__name
            div.group__project-description
              input(type='text' placeholder='Description...' name='description' required).project-form__description
            div.group__project-buttons
              button(type='submit').button.button__project-form.button--save Save
              button.button.button__project-form.button--cancel Cancel
            span.error-msg.hidden Revisa los campos del formulario
        button.button#addproject-button Add Project
    main.main#main
      section.main__container
        div
          h1.main__title Project X
          h2.main__subtitle Here goes the project description
        button.button.button--edit Edit
      ul.projects-list#projects-list
      form(action='').form.hidden#todos-form
        div.group
          div.group__todo-name
            input(type='text' placeholder='Name your task...' name='name' required).form__task-name
          div.group__todo-description
            input(type='text' placeholder='Description...' name='description' required).form__task-description
          div.group__todo-priority
            input(type='radio' name='priority' value='priority1').form__radio#priority1
            label(for='priority1').form__priority.form__priority--high
            input(type='radio' name='priority' value='priority2').form__radio#priority2
            label(for='priority2').form__priority.form__priority--medium
            input(type='radio' name='priority' value='priority3').form__radio#priority3
            label(for='priority3').form__priority.form__priority--low
          div.group__todo-duedate
            input(type='date' required).form__calendar#form-date
          div.group__todo-buttons
            button(type='submit').button.button--save Save 
            button.button.button--cancel Cancel
        span.error-msg.hidden Revisa los campos del formulario
      button.button.button--list#addtask-button Add Task