<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    header.header
      nav.nav
        h2.nav__title Projects
        ul.menu
          li.menu__item Project 1
          li.menu__item Project 2
          li.menu__item Project 3
          li.menu__item Project 4
        button.button Add Project
    main.main
      div.main__container
        div
          h1.main__title Project X
          h2.main__subtitle Here goes the project description
        button.button.button--edit Edit
      ul.project-list
        li.project-list__item Default Task
        li.project-list__item Default Task 1
        li.project-list__item Default Task 2
        li.project-list__item Default Task 3
        li.project-list__item Default Task 4
        li.project-list__item Default Task 5
      button.button Add Task